
	<div class="top-dashboard">
		<div class="dropdown user-dash">
		    <div class="dropdown-toggle" type="button" data-toggle="dropdown">
		    <?php echo $this->Html->image('school_avatar.png', array('alt' => 'Avatar', 'class'=>array('user-dashboard','img-circle'))); ?>
		    <p class="user-name">Avatar</p>
		    <span class="caret"></span></div>
		    <ul class="dropdown-menu">
		      <li><a href="">Meu perfil</a></li>
		      <li><a href="<?php echo $this->Html->url('../users/logout'); ?>">Sair</a></li>
		    </ul>
		 </div>
	</div> <!-- End top-dashboard -->

	<div class="content-ds">
		
		<div class="bred">
			<a href="" class="bred">Home > </a> <a href="" class="bred">Dashboard</a>
		</div>
		
    </div> <!-- End content-ds -->
