*{margin:0px; padding:0px; }
.menu{
    background: #771c20;
    float:left;
    width:85px;
    padding:10px;
    text-align:center;
    min-height: 100vh;
}
.logo h1{color:#fff;}
.list-menu{float:left; width:100%; margin-top:25px;}
ul.menu-list{list-style: none;}
ul.menu-list li{}
ul.menu-list li a{font-size:1em; float:left; margin:13px 0px; width:100%; color:#fff;}
ul.menu-list li a:hover{text-decoration: none;}
ul.menu-list li a i{font-size:2em; display:block;}


section.content{min-height: 100vh; background:#ededed; width:calc(100% - 85px); float:left;}
.top-dashboard{width:100%; float:left; background:#ccc; padding:4px;}
img.user-dashboard{width:45px; float:left;}
.user-dash{float:right; cursor:pointer;}
.user-name{float:left; margin:20px 10px; font-weight: bold;}
.user-dash span.caret { margin:28px 10px;}

.content-ds{}
.title-page{width:100%; padding:20px;}
h1.title-pg{font-size:1.8em; margin:6px 10px; display: block;}
.bred{padding:6px; float:left; width:100%; background:#FFF;}
a.bred{float:left; width:initial; color:#333;}
.content-din{padding: 10px; margin:0px auto; width:80%; background:#FFF; margin-top: 30px; border-radius: 8px;}
.content-din-wrap{}
.content-din-action{padding:20px;}
.a-btn-insert {padding: 8px 10px;background: #771c20;margin: 10px 0px;color: #fff;border-radius: 4px;}
.a-btn-insert:hover {text-decoration: none; color: #fff; opacity: .8;  }

/*Dash Bottons*/
.btn-edit{padding: 4px 8px;background: #c59b2b;margin: 10px 0px;color: #fff;border-radius: 4px;}
.btn-delete{padding: 4px 8px;background: #69496e;margin: 10px 0px;color: #fff;border-radius: 4px;}
.btn-edit:hover, .btn-delete:hover{text-decoration:none; color:#fff;}
.btn-salvar{padding: 4px 8px;background: #69496e;margin: 10px 0px;color: #fff;border-radius: 4px;}
.btn-reset{padding: 4px 8px;background: #c59b2b;margin: 10px 0px;color: #fff;border-radius: 4px;}

.paging span a {color:#69496e;}
.paging span a:hover {color:#c59b2b;}

/* Tela de login*/
.login-wrap {
	width: 300px;
	margin: 0px auto;
	margin-top: 75px;
	padding: 30px;
	border: 1px solid #dedede;
	border-radius: 8px;
}

.form-icon-input {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 34px;
	height: 34px;
	text-align: center;
	margin-top: 10px;
}
/*End login*/
